<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="searchBarToolStripMenuItem.Checked" value="true"/>
    <add key="copyOnClickToolStripMenuItem.Checked" value="false"/>
    <add key="disablePromptToolStripMenuItem.Checked" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="PhoneBook.Properties.Settings.ContactsDBConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\accdb\ContactsDB.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>